[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2,5.0"
pyyaml = "*"

[dev-packages]
ruff = "*"
flake8 = "*"
coverage = "*"

[requires]
python_version = "3.13"
